---
import Social from "../ui/Social.astro";
import { getCollection } from "astro:content";

const [staticData] = await getCollection("staticData");
const { github, githubIconName, linkedin, linkedinIconName } = staticData.data;

const items = [
  { label: "Strona główna", href: "/" },
  { label: "Wideo", href: "/#wideo" },
  { label: "Fotografia", href: "/zdjecia" },
  { label: "Projekty graficzne", href: "/grafika" },
];

const baseClasses = {
  nav: "flex w-full justify-center gap-6 max-md:gap-3 max-md:py-6",
  link:
    "px-3 py-2 text-base font-semibold rounded-md transition-colors duration-300 ease-in-out " +
    "hover:text-mint-400 dark:hover:text-mint-300 " +
    "max-md:mx-auto max-md:w-full max-md:px-6 max-md:py-3",
  activeLink:
    "text-mint-500 dark:text-mint-400 font-bold " +
    "[text-shadow:1px_1px_11px_rgba(208,251,229,0.7)]",
  inactiveLink: "text-blacktext dark:text-zinc-300",
  socialContainer: "flex items-center justify-center gap-5 md:hidden",
};
---

<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const linkClasses = {
      active: baseClasses.activeLink.split(" "),
      inactive: baseClasses.inactiveLink.split(" "),
    };

    function toggleLinkClasses(link, isActive) {
      if (isActive) {
        link.classList.add(...linkClasses.active);
        link.classList.remove(...linkClasses.inactive);
        link.setAttribute("aria-current", "page");
      } else {
        link.classList.remove(...linkClasses.active);
        link.classList.add(...linkClasses.inactive);
        link.removeAttribute("aria-current");
      }
    }

    function updateActiveLink() {
      const currentPath = window.location.pathname;
      const currentHash = window.location.hash;

      document.querySelectorAll("nav a").forEach((link) => {
        const path = link.getAttribute("data-path");
        if (path === currentPath || path === currentPath + currentHash) {
          toggleLinkClasses(link, true);
        } else {
          toggleLinkClasses(link, false);
        }
      });
    }

    updateActiveLink();

    window.addEventListener("hashchange", updateActiveLink);
  });
</script>

<nav class={baseClasses.nav} role="navigation" aria-label="Main Navigation">
  {items.map((item) => (
    <a
      href={item.href}
      class={baseClasses.link}
      data-path={item.href}
      aria-label={item.label}
    >
      {item.label}
    </a>
  ))}

  <div
    class={baseClasses.socialContainer}
    role="group"
    aria-label="Social Media Links"
  >
    <Social link={github} iconName={githubIconName} />
    <Social link={linkedin} iconName={linkedinIconName} />
  </div>
</nav>
